@import "tailwindcss";

@theme {
  /* fonts */
  --font-poppins: "Poppins", sans-serif;

  /* Core Colors */
  --color-background: #000000;
  --color-foreground: #FFD70040;

  --color-primary: #FFD700; /* Gold */
  --color-secondary: #FFD700AB;

  --color-border: #FFD7003D;
  --color-border-bottom: #FFD70094;
  
  --color-line: #FFD700B2;

  /* Gradients */
  --gradient-background: linear-gradient(135.37deg, rgba(255, 215, 0, 0.27) 0%, rgba(255, 215, 0, 0.04) 100%);
  --gradient-button: linear-gradient(135.37deg, rgba(255, 215, 0, 0.27) 0%, rgba(255, 215, 0, 0.04) 100%);
  --gradient-circle: linear-gradient(153.43deg, #FFD700 16.67%, #806C00 56.7%, #000000 100%);
  --gradient-foreground: linear-gradient(287.76deg, rgba(255, 215, 0, 0.1105) 4.64%, rgba(255, 215, 0, 0.0195) 98.6%); /*Our Process Section*/
  --gradient-border: linear-gradient(106.15deg, rgba(255, 215, 0, 0.1728) 4.39%, rgba(255, 215, 0, 0.1008) 100%);

  /* Radius */
  --radius-md: 8px;
  --radius-lg: 12px;
}

@layer base {
  * {
    border-color: var(--color-border);
    font-family: var(--font-poppins);
    color: white;
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-[var(--color-background)]
  }
}